.app-page-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 1.1rem !important;
  font-weight: 500 !important;
  color: var(--page-breadcrumb-color);

}

.form-detail-title {
  

  .form-detail-title-text {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
  }

}